<!DOCTYPE html>
<html>
<head>
    <script>
        function startTime() {
          var today = new Date();
          var y = today.getFullYear();
          var m = today.getMonth() + 1;
          var d = today.getDate();
          var h = today.getHours();
          var mins = today.getMinutes();
          var s = today.getSeconds();
          h = checkTime(h);
          m = checkTime(m);
          mins = checkTime(mins);
          s = checkTime(s);
          document.getElementById('datetime').innerHTML =
          y + "-" + m + "-" + d + " " + h + ":" + mins + ":" + s;
          var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
          if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
          return i;
        }
        </script>
    <style>
        .p1 {
         font-family: Verdana, sans-serif;
    }
    </style>
</head>
<body onload="startTime()">
<p class="p1" style="font-size:1.5vw;">Moyer's prediction for upper jaw: <b>{{ xu }}mm.</b></p>
<br>
<p class="p1">Value used for sum mapping: <b>{{ s_l }}</b> ----> <mark>{{ slr }}</mark></p>
<p class="p1">Mapping of values was based on:</p>
<p class="p1"><a href="https://imgur.com/lVmwBPS"><img src="https://i.imgur.com/lVmwBPS.jpg" title="source: imgur.com" /></a></p>
<p class="p1"><a href="http://stefanos-5head.herokuapp.com/">Back to home page</a></p>
<hr>
<div id="datetime"></div>
<p class="p1"><small>&#169; meximonster 2021</small></p>
</body>
</html>